:root {
  /* --background_1: hsl(0, 0%, 97%); */
  --background_1: hsl(0, 0%, 7%);
  --background_2: hsl(0, 0%, 92%);
  --background_3: hsl(0, 0%, 87%);
  --color_1: hsl(0, 0%, 10%);
  --color_2: hsl(45, 94%, 55%);
  --color_3: hsla(0, 0%, 1%, 0.7);
  --border_color: hsl(0, 0%, 80%);
  --shadow: linear-gradient(
    to bottom right,
    hsl(0, 0%, 85%) 0%,
    hsla(0, 0%, 85%, 0) 50%
  );
  --font_family: 'Poppins', sans-serif;
  --font_weight: 300;
  --font_weight_bold: 600;
  --fs_1: 25px;
  --fs_2: 20px;
  --fs_3: 15px;
  --fs_title: 32px
}

[data-theme="dark"] {
  --background_1: hsl(0, 0%, 7%);
  --background_2: hsl(240, 2%, 12%);
  --background_3: hsl(240, 1%, 17%);
  --color_1: white;
  --color_2: hsl(45, 100%, 72%);
  --color_3: hsla(0, 0%, 84%, 0.7);
  --border_color: hsl(0, 0%, 22%);
  --shadow: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
}

html {
  height: 100%;
  margin: 0;
}

body {
  background: var(--background_1);
  font-family: var(--font_family);
  font-weight: var(--font_weight);
  height: 100%;
  margin: 0;
}
